@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}



@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
    font-family: "MerriweatherSansRegular";
    // адрес шрифта и тип
    src: url("../fonts/MerriweatherSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MerriweatherSansBold";
    src: url("../fonts/MerriweatherSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

