$linkColor: #000000;
$inverseLinkColor:#fff;
$hoverlinkColor: #5cb7df;

$typografyColor: #595959;
$typografySecondColor: #79a0e2;
$typografyInverseColor: #ffffff;
$typografySecondInverseColor: #c1c1c1;


$mainBckground: #e1d4c1;
$mainBckgroundTransparent: rgba($mainBckground, 0.3);
$mainBckgroundInverse: #bb4a1b;
$mainBckgroundInverseTranspaent: rgba(99, 99, 99, 0.31);
$secondBckground: #1616ff;

$mainborderColor: #6cb1ff;
$inverseBorderColor:#ffffff;


//arrays
$container-min-widths: (
    xs: 0,
    sm: 577px,
    md: 769px,
    lg: 993px,
    xl:1201px
);

@function get-min($key){
    @return get($container-min-widths,$key);
}

$container-max-widths: (
    xs:576px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);

@function get-max($key){
    @return get($container-max-widths,$key);
}



